{% if template == 'index' %}
  <div class="splash" data-splash aria-hidden="true">
    <div class="text-center">
      <p class="splash-title font-extrabold uppercase tracking-widest">Northernwest</p>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Splash screen",
  "settings": []
}
{% endschema %}
